
:root {
    --blanco: rgb(240, 240, 240);
    --blanco-azulado:rgb(200, 245, 255);
    --grisVacio: rgb(89, 89, 89);
    --azul-masclaro: rgb(82, 211, 216);
    --azul-claro: rgb(56, 135, 190);
    --azul-darkcyan: darkcyan;
    --azul-royal: royalblue;
    --azul-medio: rgb(56, 65, 157);
    --azul-marino: rgb(32, 14, 58);
    --letra-tituloXL: 40px;
    --letra-grande: 28px;
    --letra-normal: 24px;
    --letra-mini: 20px;
    --letra-ultramini: 16px;
    --letra-responsive-tituloXL: 20px;
    --letra-responsive-grande: 16px;
    --letra-responsive-normal: 14px;
    --letra-responsive-mini: 12px;
    --letra-responsive-ultramini: 10px;
    --letra-responsive-ultramini2: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url('../img/fondo-mosaico1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#main {
    /* border: 1px solid green; */
    width: inherit;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    /* z-index: 9; */
}

#info {
    width: 56vw;
    height: 5vw;
    border: 1px solid black;
    border-radius: 8px 8px 0 0;
    background-color: var(--azul-medio);
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    margin-top: 0.5em;
}

#tablero {
    width: 56vw;
    height: 48vw;
    border: 1px solid black;
    border-radius: 0 0 8px 8px;
    background: linear-gradient(90deg, #5f5f5f, #494949);
    position: relative;
    overflow: hidden;
    /* z-index: 99; */
}

.casilla {
    /* border-radius: 50%; */
    background-image: url('../img/tablero-4enRaya.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.ficha {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    top: 0vw;
    left: 0vw;
    background-color: red;
    position: absolute;
    animation: animaFicha 5s linear 1 forwards;
    /* z-index: 29; */
}

.botones-inicio {
    border: none;
    border-radius: 8px;
    width: 30vw;
    height: 10vw;
    top: 50%;
    left: 50%;
    font-size: var(--letra-grande);
    font-weight: bold;
    color: var(--blanco-azulado);
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgb(148, 4, 4), rgb(255, 23, 5));
    position: absolute;
    z-index: 999;
    visibility: visible;
}

@keyframes animaFicha {
    0% {
        top: 0;
    }
    100% {
        top: 40vw;
    }
}

