
:root {
    --blanco: rgb(240, 240, 240);
    --blanco-azulado:rgb(200, 245, 255);
    --grisVacio: rgb(89, 89, 89);
    --azul-masclaro: rgb(82, 211, 216);
    --azul-claro: rgb(56, 135, 190);
    --azul-darkcyan: darkcyan;
    --azul-royal: royalblue;
    --azul-medio: rgb(56, 65, 157);
    --azul-marino: rgb(32, 14, 58);
    --gradi-azul1:#0162c8;
    --gradi-azul2: #55e7fc;
    --gradi-gris1: #5f5f5f;
    --gradi-gris2: #494949;
    --gradi-rojo1: rgb(148, 4, 4);
    --gradi-rojo2: rgb(255, 23, 5);
    --letra-tituloXL: 40px;
    --letra-grande: 28px;
    --letra-normal: 24px;
    --letra-responsive-tituloXL: 20px;
    --letra-responsive-grande: 16px;
    --letra-responsive-normal: 14px;
    --letra-responsive-mini: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url('../img/fondo-mosaico1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#main {
    /* border: 1px solid green; */
    width: inherit;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    /* z-index: 9; */
}

#textos {
    width: 56vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#textos p {
    font-size: var(--letra-grande);
    font-weight: bold;
    color: yellow;
    text-shadow: 0 0 9px white;
    animation: none;
}

#info {
    width: 56vw;
    height: 8vw;
    border: 1px solid black;
    border-radius: 8px 8px 0 0;
    background: linear-gradient(90deg, var(--gradi-azul2), var(--gradi-azul1));
    display: flex;
    margin-top: 0.5em;
    animation: none;
}

#info span {
    width: 8vw;
    height: 8vw;
    /* background: linear-gradient(90deg, var(--gradi-rojo2), var(--gradi-rojo1)); */
    background-color: transparent;
    border-radius: 50%;
}

#tablero {
    width: 56vw;
    height: 48vw;
    border: 1px solid black;
    border-radius: 0 0 8px 8px;
    background: linear-gradient(90deg, var(--gradi-gris1), var(--gradi-gris2));
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.casilla {
    /* border-radius: 50%; */
    background-image: url('../img/tablero-4enRaya.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 30;
}

.ficha {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    top: 0vw;
    left: 0vw;
    background: linear-gradient(90deg, var(--gradi-rojo2), var(--gradi-rojo1));
    position: absolute;
    /* animation: animaFicha 5s linear 1 forwards; */
    animation: none;
    transition: 2s;
    z-index: 20;
}

.botones-inicio {
    border: none;
    border-radius: 8px;
    width: 30vw;
    height: 10vw;
    top: 50%;
    left: 50%;
    font-size: var(--letra-grande);
    font-weight: bold;
    color: var(--blanco-azulado);
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, var(--gradi-rojo1), var(--gradi-rojo2));
    position: absolute;
    z-index: 50;
    visibility: visible;
    /* transition: all 1s; */
}

.botones-inicio:hover {
    transform: scale(1.1) translate(-45%, -45%);
    text-shadow: 0 0 9px white;
}

@keyframes animaFicha1 {
    0% {
        top: 0;
    }
    100% {
        top: 8vw;
    }
}

@keyframes animaFicha2 {
    0% {
        top: 0;
    }
    100% {
        top: 16vw;
    }
}

@keyframes animaFicha3 {
    0% {
        top: 0;
    }
    100% {
        top: 24vw;
    }
}

@keyframes animaFicha4 {
    0% {
        top: 0;
    }
    100% {
        top: 32vw;
    }
}

@keyframes animaFicha5 {
    0% {
        top: 0;
    }
    100% {
        top: 40vw;
    }
}

@keyframes animaTxt {
    0% {
        margin-left: -35%;
    }
    50% {
        margin-left: 35%;
    }
    100% {
        margin-left: -35%;
    }
}

@keyframes gradientInfo {
    0% {
        filter: brightness(0.9);
    }
    50% {
        filter: brightness(0.5);
    }
    100% {
        filter: brightness(0.9);
    }
}

/* ----------------------------------------------------
RESPONSIVE
---------------------------------------------------- */
@media (max-width:768px) {

}

/* ------------------------------------------------- */
@media (max-width: 600px) {

    #textos p {
        font-size: var(--letra-responsive-mini);
        text-shadow: 0 0 5px white;
    }
    
    #info {
        margin-top: 0.5em;
    }

    .botones-inicio {
        width: fit-content;
        height: fit-content;
        font-size: var(--letra-responsive-normal);
        padding: 1em;
    }
    
    .botones-inicio:hover {
        transform: scale(1.1) translate(-45%, -45%);
        text-shadow: 0 0 5px white;
    }

    @keyframes animaTxt {
        0% {
            margin-left: -20%;
        }
        50% {
            margin-left: 20%;
        }
        100% {
            margin-left: -20%;
        }
    }
}
