
:root {
    --tableroSizeX: 840px;
    --tableroSizeY: 660px;
    --blanco: rgb(240, 240, 240);
    --blanco-azulado:rgb(200, 245, 255);
    --grisVacio: rgb(89, 89, 89);
    --azul-masclaro: rgb(82, 211, 216);
    --azul-claro: rgb(56, 135, 190);
    --azul-darkcyan: darkcyan;
    --azul-royal: royalblue;
    --azul-medio: rgb(56, 65, 157);
    --azul-marino: rgb(32, 14, 58);
    --gradi-azul1:#0162c8;
    --gradi-azul2: #55e7fc;
    --gradi-gris1: #5f5f5f;
    --gradi-gris2: #494949;
    --gradi-rojo1: rgb(148, 4, 4);
    --gradi-rojo2: rgb(255, 23, 5);
    --gradi-verde1: rgb(25, 240, 9);
    --gradi-verde2: rgb(25, 180, 9);
    --letra-tituloXL: 40px;
    --letra-grande: 28px;
    --letra-normal: 24px;
    --letra-responsive-tituloXL: 20px;
    --letra-responsive-grande: 16px;
    --letra-responsive-normal: 14px;
    --letra-responsive-mini: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url('../img/fondo-mosaico1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#main {
    /* border: 1px solid green; */
    width: inherit;
    height: inherit;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* z-index: 9; */
}

#textos {
    width: var(--tableroSizeX);
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#textos p {
    font-size: var(--letra-normal);
    font-weight: bold;
    color: yellow;
    text-shadow: 0 0 9px #222;
    /* animation: none; */
}

#tablero {
    width: var(--tableroSizeX);
    height: var(--tableroSizeY);
    border: 1px solid black;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--gradi-gris1), var(--gradi-gris2));
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.casilla {
    /* border-radius: 50%; */
    background-image: url('../img/tablero-4enRaya.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 30;
}

.ficha {
    width: calc(var(--tableroSizeX) / 7);
    height: calc(var(--tableroSizeY) / 6);
    border-radius: 50%;
    top: 0vw;
    left: 0vw;
    background: linear-gradient(90deg, var(--gradi-rojo2), var(--gradi-rojo1));
    position: absolute;
    /* animation: animaFicha 5s linear 1 forwards; */
    animation: none;
    transition: 2s;
    z-index: 20;
}

.fichaCPU {
    width: calc(var(--tableroSizeX) / 7);
    height: calc(var(--tableroSizeY) / 6);
    border-radius: 50%;
    top: 0vw;
    left: 0vw;
    background: linear-gradient(90deg, var(--gradi-verde2), var(--gradi-verde1));
    position: absolute;
    /* animation: animaFicha 5s linear 1 forwards; */
    animation: none;
    transition: 2s;
    z-index: 20;
}

.botones-inicio {
    border: none;
    border-radius: 8px;
    width: 45%;
    height: 20%;
    top: 50%;
    left: 50%;
    font-size: var(--letra-grande);
    font-weight: bold;
    color: var(--blanco-azulado);
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, var(--gradi-rojo2), var(--gradi-rojo1));
    padding: 0;
    position: absolute;
    z-index: 50;
    visibility: visible;
    opacity: 0.8;
    /* transition: all 1s; */
    animation: none;
}

.botones-inicio:hover {
    transform: scale(1.1) translate(-45%, -45%);
    text-shadow: 0 0 11px lightyellow;
}

@keyframes animaFicha1 {
    0% {
        top: 0;
    }
    100% {
        top: calc((var(--tableroSizeY) / 6) * 1);
    }
}

@keyframes animaFicha2 {
    0% {
        top: 0;
    }
    100% {
        top: calc((var(--tableroSizeY) / 6) * 2);
    }
}

@keyframes animaFicha3 {
    0% {
        top: 0;
    }
    100% {
        top: calc((var(--tableroSizeY) / 6) * 3);
    }
}

@keyframes animaFicha4 {
    0% {
        top: 0;
    }
    100% {
        top: calc((var(--tableroSizeY) / 6) * 4);
    }
}

@keyframes animaFicha5 {
    0% {
        top: 0;
    }
    100% {
        top: calc((var(--tableroSizeY) / 6) * 5);
    }
}

@keyframes animaTxt {
    0% {
        margin-left: -35%;
    }
    50% {
        margin-left: 35%;
    }
    100% {
        margin-left: -35%;
    }
}

@keyframes gradientInfo {
    0% {
        filter: brightness(0.7);
    }
    50% {
        filter: brightness(0.5);
    }
    100% {
        filter: brightness(0.7);
    }
}

.winner-modal {
    width: 90%;
    height: 35%;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 8px;
    background-color: var(--azul-darkcyan);
    opacity: 0.9;
    /* filter: blur(1px); */
    position: absolute;
    z-index: 40;
    visibility: hidden;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

ul li {
    list-style: none;
    font-weight: bold;
    font-size: 5vw;
    letter-spacing: 0.2em;
    color: #555;
    text-shadow: none;
    animation: animaLetras 1s linear infinite;
}

ul li:nth-child(1) {
    animation-delay: 0.2s;
}

ul li:nth-child(2) {
    animation-delay: 0.4s;
}

ul li:nth-child(3) {
    animation-delay: 0.6s;
}

ul li:nth-child(4) {
    animation-delay: 0.8s;
}

ul li:nth-child(5) {
    animation-delay: 1s;
}

ul li:nth-child(6) {
    animation-delay: 1.2s;
}

ul li:nth-child(7) {
    animation-delay: 1.4s;
}

ul li:nth-child(8) {
    animation-delay: 1.6s;
}

@keyframes animaLetras {
    0% {
        color: #555;
        text-shadow: none;
    }
    18% {
        color: #555;
        text-shadow: none;
    }
    20% {
        color: #ffea00;
        text-shadow: 0 0 1vw #ffc400, 0 0 3vw #f44336;
    }
    30% {
        color: #555;
        text-shadow: none;
    }
    35% {
        color: #ffea00;
        text-shadow: 0 0 1vw #ffc400, 0 0 3vw #f44336;
    }
    70% {
        color: #555;
        text-shadow: none;
    }
    85% {
        color: #ffea00;
        text-shadow: 0 0 1vw #ffc400, 0 0 3vw #f44336;
    }
    90% {
        color: #555;
        text-shadow: none;
    }
    100% {
        color: #555;
        text-shadow: none;
    }
}

/* ----------------------------------------------------
RESPONSIVE
---------------------------------------------------- */
@media (max-width:768px) {

}

/* ------------------------------------------------- */
@media (max-width: 600px) {

    #textos p {
        font-size: var(--letra-responsive-mini);
        text-shadow: 0 0 5px white;
    }
    
    #info {
        margin-top: 0.5em;
    }

    .botones-inicio {
        width: fit-content;
        height: fit-content;
        font-size: var(--letra-responsive-grande);
        padding: 0.5em 1.5em;
        animation: botonesInicio 3s infinite;
    }
    
    .botones-inicio:hover {
        transform: scale(1.1) translate(-45%, -45%);
        text-shadow: 0 0 5px white;
    }

    @keyframes animaTxt {
        0% {
            margin-left: -20%;
        }
        50% {
            margin-left: 20%;
        }
        100% {
            margin-left: -20%;
        }
    }

    @keyframes botonesInicio {
        0% {
            transform: skew(0deg, 0deg) translate(-50%, -50%);
        }
        30% {
            transform: skew(0deg, 0deg) translate(-50%, -50%);
        }
        40% {
            transform: skew(40deg, 0deg) translate(-50%, -50%);
        }
        50% {
            transform: skew(0deg, 0deg) translate(-50%, -50%);
        }
        60% {
            transform: skew(-40deg, 0deg) translate(-50%, -50%);
        }
        70% {
            transform: skew(0deg, 0deg) translate(-50%, -50%);
        }
        100% {
            transform: skew(0deg, 0deg) translate(-50%, -50%);
        }
    }
}
